<footer id="site-footer" class="su_footer">
  <div class="sureti-flex-row su_footer_container">
    <div class="sureti-flex-column su_footer_container_column">
      <div class="su_footer_container_column_branding">
        <img src="../../../../src/assets/img/su_logo_vertical.svg" alt="" />
        <p class="p-body">Reimaginando el Préstamo</p>
      </div>
    </div>
    <div class="su_horizontal_line"></div>
    <div class="sureti-flex-column su_footer_container_column">
      <div class="su_footer_container_column_menu">
        <h2>Menu</h2>
        <div class="su_footer_container_column_menu_flex">
          <ul>
            <li><router-link to="/">Inicio</router-link></li>
            <li><router-link to="/Nosotros">Nosotros</router-link></li>
          </ul>
          <ul>
            <li>
              <router-link to="/Inversiones" class="investment-modal-toggle"
                >Inversiones</router-link
              >
            </li>
            <li>
              <router-link to="/Prestamos" class="loan-modal-toggle"
                >Préstamos</router-link
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="su_horizontal_line"></div>
    <div class="sureti-flex-column su_footer_container_column su_footer_column_vertical">
      <div class="su_footer_container_column_comunicate">
        <h2>Comunícate con Nosotros</h2>
        <p><b>Mail</b>: info@sureti.co</p>
      </div>
      <div class="su_horizontal_line"></div>
      <div class="su_footer_container_column_vigilado">
        <h2>Protección al Consumidor</h2>
        <a href="https://www.sic.gov.co/" target="_blank"><img src="../../../../src/assets/img/su_logos_super-inter.png" alt="Logo Superintendencia de Industria" /></a>
      </div>
    </div>
    <div class="su_horizontal_line"></div>
    <div class="sureti-flex-column su_footer_container_column">
      <div class="su_footer_container_column_social">
        <h2>Síguenos</h2>
        <div class="social-links">
          <a href="https://www.facebook.com/sureti.co/"
            ><img src="../../../../src/assets/icons/su_icon_facebook.svg" alt="Icono de Facebook"
          /></a>
          <a href="https://www.instagram.com/sureti.co/?hl=en"><img src="../../../../src/assets/icons/su_icon_insta.svg" alt="Icono de Instagram" /></a>
          <a href="https://co.linkedin.com/company/suretico"
            ><img src="../../../../src/assets/icons/su_icon_linkedin.svg" alt="Icono de LinkedIn"
          /></a>
          <a href="https://wa.me/573507642000"
            ><img src="../../../../src/assets/icons/su_icon_whatsapp.svg" alt="Icono de Whatsapp"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="derechos">
    <p>Sureti<sup>®</sup> 2022 - Todos los derechos reservados</p>
  </div>
</footer>
