/* CSS RESETS AND GLOBALS */
body {
  background-color:#fff;
  /*background-image:url();*/
	background-size: 60px 30px;
  font-family: 'Inter', sans-serif;
}

body a {color:#49918f}
html, body {width:100%; margin:0; padding:0;}
html { font-size: 62.5%; font-weight:300; }
body, p, li { font-size: 14px; font-size: 1.4rem; font-family: 'Inter', sans-serif}
body {overflow: auto;}
h1   { font-size: 30px; font-size: 3.0rem; }
h2   { font-size: 27px; font-size: 2.7rem; }
h3   { font-size: 23px; font-size: 2.3rem; }
h4   { font-size: 20px; font-size: 2.0rem; }
h5   { font-size: 18px; font-size: 1.8rem; }
h1, h2, h3, h4, h5 {font-weight:600; font-family: 'Inter', sans-serif}
ul, ol {
margin: 0 0 1.0em 1em;
}
div, section, header, footer {
	box-sizing: border-box;
}
.hide {display:none !important;}

body.a .show-if-b {
	display:none;
	display:none !important;
	visibility:hidden;
	height:0;
	width:0;
}
body.b .show-if-a {
	display:none;
	display:none !important;
	visibility:hidden;
	height:0;
	width:0;
}

img {display:block; margin:0; padding:0;border:none}

.group:after { /* CLEARFIX HACK*/
  content: "";
  display: table;
  clear: both;
}

.no-scroll {
	overflow:hidden;
}
.scroll {
	overflow:auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
p, li, label, input {
  font-family: 'Inter','Trebuchet MS', sans-serif;
}

.cover-bg {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/* COLORS */
/* BLUE/PURPLE - #5747DC */
/* YELLOW - #FFE100 */

/* FLEX CLASSES */
.su-flex-row {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.sureti_flex-column {
  flex:1;
}

/* SECTION CLASSES - PAGE SECTION */
.su-page-section {
    width:100%;
    padding:0;
}
.first-section {
	margin-top:64px;
}
.full-width {
	max-width:none;
}
.pink-section {
  background-color: #F5F4FF;
}

@media all and (min-width:768px) {
    .su-page-section {
      padding:0;
      margin-left: auto;
      margin-right:auto;
      max-width:1120px;
    }
    .full-width {
      max-width:none;
      width:100%;
    }
}


/* BUTTONS */
.su-button {
  color:#fff;
  text-decoration:none;
  font-size:16px;
  line-height:22px;
  font-weight:700;
  padding:15px 20px 18px;
  background-color:#5747DC;
  border-radius:6px;
}


.sureti-movement-modal {
    width:100vw;
    height:100vh;
    padding: 10px 0;
    position: fixed;
    top:0;
    left:0;
}
.sureti-movement-modal-body {
    position:relative;
}
.sureti-movement-modal-close {
    position:fixed;
    width:35px;
    top: 15px;
    right: 10px;
    color:#fff;
    padding:3px;
    line-height:10px;
    font-size:14px;
    border-radius:8px;
    transform: rotate(45deg);
    cursor:pointer;
    background-color:#fff;
    transition: background-color 0.15s ease-in-out;
    border-radius:30px;
    z-index:999999;
}
.sureti-movement-modal-close:hover {
    background-color:#ddd;
}

.opacity-80 {
    opacity: .8;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
}

.z-0 {
    z-index: 0;
}

.z-modal {
    z-index: 9999;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.absolute {
    position: absolute;
}

@media all and (min-width: 640px) {
    .sureti-movement-modal-close {
        position:fixed;
        width:35px;
        top: 18px;
        right: calc(50% - 308px);
    }
}

